/* root - Stil für das Root-Element (alle 800x600 Screens) */
.root {
    -fx-pref-width: 800;
    -fx-pref-height: 600;
    -fx-background-color: #ffeab3;
}

.multiplayerVbox1 {
    -fx-padding: 15;
    -fx-border-color: black;
    -fx-border-width: 1.5;
    -fx-background-color: #ff69b4;
}

.multiplayerVbox2 {
    -fx-padding: 15;
    -fx-border-color: black;
    -fx-border-width: 1.5;
    -fx-background-color: #66cdaa
}

/* modeButton1 - Stil für Mode-Button1 (mode-selection-screen.fxml) */
.modeButton1 {
    -fx-background-color: #66cdaa;
    -fx-border-color: black;
    -fx-border-width: 1.5;
    -fx-pref-width: 400;
    -fx-pref-height: 600;
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 26px;
    -fx-text-fill: white;
}

/* modeButton2 - Stil für Mode-Button2 (mode-selection-screen.fxml) */
.modeButton2 {
    -fx-background-color: #ff69b4;
    -fx-border-color: black;
    -fx-border-width: 1.5;
    -fx-pref-width: 400;
    -fx-pref-height: 600;
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 26px;
    -fx-text-fill: white;
}

/* modeButton:hover - markiert den modeButton sobald man drüber hovert (mode-selection-screen.fxml) */
.modeButton1:hover {
    -fx-background-color: #5cb394;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-cursor: hand;
}

/* modeButton:hover - markiert den modeButton sobald man drüber hovert (mode-selection-screen.fxml) */
.modeButton2:hover {
    -fx-background-color: #e05c9f;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-cursor: hand;
}

/* rulePane - Stil für die Rule-Panes (rules-screen.fxml) */
.rulePane {
    -fx-padding: 15;
    -fx-border-color: black;
    -fx-border-width: 1.5;
}

/* ruleLabels - Stil für die Rule-Labels (rules-screen.fxml) */
.ruleLabels {
    -fx-font-family: "Segoe UI";
    -fx-text-fill: white;
    -fx-font-size: 17px;
}

/* ruleHeader - Stil für die ruleHeaders (rules-screen.fxml) */
.ruleHeader {
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

/* guiButton - Stil für alle GUI-Buttons (rules-screen.fxml / main-menu.fxml) */
.guiButton {
    -fx-background-color: #ffa000;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-radius: 20;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-alignment: center;
}

/* guiButton:hover - Markiert den GUI-Button sobald man drüber hovert (rules-screen.fxml / main-menu.fxml) */
.guiButton:hover {
    -fx-background-color: #ff8c00;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-cursor: hand;
}

/* settings-highscore-Button - Stil für die Icon-Buttons im Main Menu (main-menu.fxml) */
.settings-highscore-Button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

/* answerButton - Stil für alle Antwort-Buttons (quiz-single-screen.fxml / quiz-multi-screen.fxml) */
.answerButton {
    -fx-background-color: #ffa000;  /* Hintergrundfarbe */
    -fx-background-radius: 15;      /* Abgerundete Ecken */
    -fx-border-color: black;        /* Rahmenfarbe */
    -fx-border-radius: 15;          /* Abgerundete Rahmen */
    -fx-font-family: "Segoe UI";    /* Schriftart */
    -fx-font-size: 23px;            /* Schriftgröße */
    -fx-text-fill: white;           /* Textfarbe */
    -fx-alignment: center;          /* Textausrichtung */
}

/* answerButton:hover - Markiert den Antwort-Button sobald man drüber hovert (quiz-single-screen.fxml / quiz-multi-screen.fxml) */
.answerButton:hover {
    -fx-background-color: #ff8c00;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-cursor: hand;
}

/* answerLabel - Stil für die Answer-Labels (A-D) (quiz-single-screen.fxml / quiz-multi-screen.fxml) */
.answerLabel {
    -fx-background-color: #ffa000;  /* Hintergrundfarbe */
    -fx-background-radius: 15;      /* Abgerundete Ecken */
    -fx-border-color: black;        /* Rahmenfarbe */
    -fx-border-radius: 15;          /* Abgerundete Rahmen */
    -fx-font-family: "Segoe UI";    /* Schriftart */
    -fx-font-size: 23px;            /* Schriftgröße */
    -fx-text-fill: white;           /* Textfarbe */
    -fx-alignment: center;          /* Textausrichtung */
}

/* headerLabel - Stil für alle Header-Labels (quiz-single-screen.fxml / quiz-multi-screen.fxml) */
.headerLabel {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 23px;
    -fx-alignment: center;
    -fx-padding: 10 10 10 10;
}

/* questionLabel - Stil für alle Question-Labels (quiz-single-screen.fxml / quiz-multi-screen.fxml) */
.questionLabel {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 25px;
    -fx-alignment: center;
}

/* questionSeparator - Stil für alle Question-Separators (quiz-single-screen.fxml / quiz-multi-screen.fxml) */
.questionSeparator {
    -fx-background-color: #ffa000;
    -fx-pref-height: 10px;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

/* textField - Stil für Eingabefelder wie Profilerstellung (profile-single-screen.fxml) */
.textField {
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
    -fx-padding: 5 10;
    -fx-alignment: center-left;
    -fx-pref-width: 300; /* Gleiche Breite wie das Dropdown-Menü */
}
