/* root - Stil für das Root-Element (AnchorPane) */
.root {
    -fx-pref-width: 800;
    -fx-pref-height: 600;
    -fx-background-color: #ffeab3;
}

/* pane - Stil für alle Pane-Elemente */
.pane {
}

/* rulePane - Stil für die Rule-Panes */
.rulePane {
    -fx-padding: 15;
    -fx-border-color: black;
    -fx-border-width: 2.5;
}

/* ruleLabels - Stil für die Rule-Labels */
.ruleLabels {
    -fx-font-family: "Segoe UI";
    -fx-text-fill: white;
    -fx-font-size: 17px;
}

/* ruleHeader - Stil für die ruleHeaders */
.ruleHeader {
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

/* answerButton - Stil für alle Antwort-Buttons */
.answerButton {
    -fx-background-color: #ffa000;  /* Hintergrundfarbe */
    -fx-background-radius: 15;      /* Abgerundete Ecken */
    -fx-border-color: black;        /* Rahmenfarbe */
    -fx-border-radius: 15;          /* Abgerundete Rahmen */
    -fx-font-family: "Segoe UI";    /* Schriftart */
    -fx-font-size: 23px;            /* Schriftgröße */
    -fx-text-fill: white;           /* Textfarbe */
    -fx-alignment: center;          /* Textausrichtung */
}

/* answerButton:hover - Markiert den Antwort-Button sobald man drüber hovert */
.answerButton:hover {
    -fx-background-color: #ff8c00;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-cursor: hand;
}

/* guiButton - Stil für alle GUI-Buttons */
.guiButton {
    -fx-background-color: #ffa000;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-radius: 20;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-alignment: center;
}

/* guiButton:hover - Markiert den GUI-Button sobald man drüber hovert */
.guiButton:hover {
    -fx-background-color: #ff8c00;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
    -fx-cursor: hand;
}

/* settings-highscore-Button - Stil für die Icon-Buttons im Main Menu */
.settings-highscore-Button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

/* answerLabel - Stil für die Answer-Labels (A-D) */
.answerLabel {
    -fx-background-color: #ffa000;  /* Hintergrundfarbe */
    -fx-background-radius: 15;      /* Abgerundete Ecken */
    -fx-border-color: black;        /* Rahmenfarbe */
    -fx-border-radius: 15;          /* Abgerundete Rahmen */
    -fx-font-family: "Segoe UI";    /* Schriftart */
    -fx-font-size: 23px;            /* Schriftgröße */
    -fx-text-fill: white;           /* Textfarbe */
    -fx-alignment: center;          /* Textausrichtung */
}

/* headerLabel - Stil für alle Header-Labels */
.headerLabel {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 23px;
    -fx-alignment: center;
    -fx-padding: 10 10 10 10;
}

/* questionLabel - Stil für alle Question-Labels */
.questionLabel {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 30px;
    -fx-alignment: center;
}

/* questionSeparator - Stil für alle Question-Separators */
.questionSeparator {
    -fx-background-color: #ffa000;
    -fx-pref-height: 10px;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
